.promo {
    min-height: 100vh;
    position: relative;
    // background: url('../img/main_bg.jpg') no-repeat 50%/cover;
    background-color: #bce5f9;
    padding-top: 205px;

    &__title {
        width: 535px;
        margin-top: 10px;
    }

    &__subtitle {
        z-index: 2;
        position: relative;
        padding-left: 10px;
        @include before_circle;
    }

    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        color: #000;
        font-weight: bold;

        &:hover {
            color: black;
        }
    }
}